body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #e60000;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav {
  margin-top: 0.5rem;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.hero  {
    position: relative;
    background-image: url('alam.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.content {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  background: white;
  border-radius: 8px;
}

.foto {
  width: 200px;
  border-radius: 100%;
  display: block;
  margin: 1rem auto;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}